nodes/.node-red/flows.json
[{"id":"7ed1e4cb.c7b49c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1be556c1.227b79","type":"uimaker-config","z":"","name":"UIMaker"},{"id":"95707526.2297b8","type":"inject","z":"7ed1e4cb.c7b49c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["6136eb40.444df4"]]},{"id":"6136eb40.444df4","type":"uimaker-input","z":"7ed1e4cb.c7b49c","server":"1be556c1.227b79","identifier":"MyNode1","name":"","x":340,"y":60,"wires":[]},{"id":"97ebf400.928348","type":"uimaker-output","z":"7ed1e4cb.c7b49c","server":"1be556c1.227b79","identifier":"MyNode1","name":"","x":100,"y":140,"wires":[["15c8ee38.4b2482"]]},{"id":"15c8ee38.4b2482","type":"debug","z":"7ed1e4cb.c7b49c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":140,"wires":[]}]